body{
	margin: 30px 0;
	background-color: rgb(245,246,248);
}
#mainbackground{
	position: relative;
    background-color: white;
	border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 920px;
	height: 100%;
	padding: 10px 0 100px;
	box-shadow: 0.2em 1em 1em 0.1em #d7d4df6b;
	/* height: fit-content; */
}
#main{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 0 100px; */
    width: 705px;
	/* height: 100%; */
	margin: 0;
	/* max-width: 100vw; */
}

#title{
	font-size: 24px;
    text-align: center;
	color: #3a3a3a;
}
.main_div{
	/* display: block; */
	position: relative;
	margin-top: 30px;
	clear: both;
	overflow: visible;
	white-space: nowrap;
	/* background-color: #3FB7EB; */
}

/* div.main_div > *{
} */
p.subtitle{
	position: relative;
	display: inline;
	float: left;
	width: 6em;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: #3a3a3a;
	/* top: 0; */
	/* background-color: #3FB7EB; */
}
.submodels{
	position: relative;
	display: inline-block;
	/* margin-bottom: 100px; */
	/* float: none; */
	/* background-color: #3FB7EB; */
}

#taskname{
    width: 580px;
    border: none;
    border-bottom: 1px gray solid;
	border-radius: 0;
    outline: none;
    background: none;
    height: 20px;
    font-size: 18px;
	padding: 0;
	padding-bottom: 5px;
	margin-bottom: -5px;
}

.container {
	display: flex;
	/* 让子元素垂直排列 */
	/* flex-direction: column; */
}
.container label {
	display: flex;
	/* 鼠标移入变小手 */
	cursor: pointer;
    margin-right: 20px;
}
.container label input {
	/* 隐藏元素 先显示出来 */
	display: none;
}
/* + 是相邻兄弟选择器 */
.container label input + span {
	display: flex;
	/* 让伪元素和文字水平排列 */
	align-items: center;
	padding: 0px 10px;
	/* margin-bottom: 10px; */
	border-radius: 30px;
	transition: all 0.3s;
}
/* 鼠标移入变背景颜色 */
.container label input + span:hover {
	background-color: #412f5e15;
}
/* 选中单选按钮对应的span元素背景颜色改变 */
/* .container label input:checked + span {
	background-color: #412f5e15;
} */
.container label input + span::before {
	content: "";
	/* 伪元素是行内元素 需要转为块级元素才能设置宽高 */
	display: block;
	width: 16px;
	height: 16px;
	/* 圆角属性 */
	border-radius: 50%;
	margin-right: 15px;
	background-color: #fff;
	/* 盒子阴影 inset是内部阴影 */
	box-shadow: 0 0 0 2px gray inset;
	/* 加个过渡时间 */
	transition: all 0.3s;
}
.container label input:checked + span::before {
	/* 选中的元素内部的阴影加深 */
	box-shadow: 0 0 0 4px darkcyan inset;
}

#deadline{
    /* border: none;
    border-bottom: 1px gray solid;
	border-radius: 0;
    outline: none;
    background: none;*/
	width: 180px;
    height: 20px; 
    font-size: 14px;
	padding: 2px 5px;
}

#payment{
    width: 10em;
}

input.filetext{
    padding:3px 0px;
    padding-left:10px;
    border:1px solid #E7EAEC;
    width: 580px;;
    height:25px;
    outline: none;
    line-height:25px;
    /* border-left:4px solid darkcyan; */
    background:#FAFAFB;
    border-radius:2px;
    vertical-align: middle;
}
input[type='file']{
    display:none;
}

#markfiletext{
	width: 502px;
}
#markrules{
	resize: none;
	width: 582px;
	padding: 5px 6px;
	font-size: 16px;
	/* border: none; */
	/* background-color: #f3f3f3; */
	border-radius: 3px;
	outline: none;
}

#submit{
	position: relative;
	float: right;
	color: darkcyan;
	font-size: 16px;
	font-family: Lucida Bright;
	background-color: white;
	border: 1px solid darkcyan;
	border-radius: 2px;
	padding: 5px 20px;
	/* left: 50%;
	transform: translateX(-50%); */
}
#submit:hover{
	background-color: darkcyan;
	color: white;
}

.help-circle{
	/* float: left; */
	width: 1em;
	margin-right: -1.25em;
	transform: translate(0,1px);
}
.tiptool{
	position: relative;
	display: inline-block;
}
.tiptool .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: rgb(245,246,248);
    color: black;
    /* text-align: center; */
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 1000;
    top: 150%;
    left: 50%;
    margin-left: calc(-688px + 360px - 1.5em);
	margin-top: -5px;
}

.tiptool .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: calc(-50% + 360px - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(245,246,248) transparent;
}

.tiptool:hover .tooltiptext {
    visibility: visible;
}

#choices_div{
	display: none;
}