<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta charset="utf-8">
    <script>
            var UserName = '{{ UserName }}'
    </script>
    {% load static %}

    <link rel="stylesheet" href="{% static 'CSS/account.css' %}" type="text/css">
    <title>个人中心</title>
    <script type="text/javascript" src="{% static "JS/jquery-3.6.0.js" %}"></script>
    <script type="text/javascript" src="{% static "JS/center/echarts.min.js" %}"></script>
    <script type="text/javascript" src="{% static "JS/account.js" %}"></script>
    <script src="{%  static "JS/center/circleChart.min.js" %}"></script>



</head>
<body>
<h3>账号管理</h3>
<div id="con1">
    <div id="head_pic"></div>
    <h5 id="nickname">Labeler</h5>
    <h5 id="seniority">Seniority: 5 years</h5>
    <div id="web3"></div>
</div>

<div id="con2">
    <h2>&nbsp&nbsp基本信息</h2>
    <HR width="100%" color=#987cb9 SIZE=2>
    <div id="name_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 真实姓名 </div>
        <div contenteditable="True" style="font-size:20px;font-weight:bold;width:30px;flex:1">丁真</div>
    </div>

    <div id="ID_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 用户ID </div>
        <div style="font-size:20px;font-weight:bold;width:60px;flex:1"> ingenuous  </div>
    </div>

    <div id="gender_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 性别 </div>
        <div style="font-size:20px;font-weight:bold;width:60px;flex:1"> 男  </div>
    </div>

    <div id="loc_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 所在地区 </div>
        <div contenteditable="True" style="font-size:20px;font-weight:bold;width:30px;flex:1">暂无</div>
    </div>

    <div id="bir_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 年龄 </div>
        <div style="font-size:20px;font-weight:bold;width:60px;flex:1"> 26  </div>
    </div>

    <div id="bir_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 联系电话 </div>
        <div style="font-size:20px;font-weight:bold;width:60px;flex:1"> 18903379186  </div>
    </div>
</div>


<div id="con3">
    <h2>&nbsp&nbsp工作信息</h2>
    <HR width="100%" color=#987cb9 SIZE=2>
    <div id="name_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 所在公司 </div>
        <div contenteditable="True" style="font-size:20px;font-weight:bold;width:30px;flex:1">暂无</div>
    </div>

    <div id="bir_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 所属职位 </div>
        <div contenteditable="True" style="font-size:20px;font-weight:bold;width:30px;flex:1">暂无</div>
    </div>

    <div id="ID_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 工龄 </div>
        <div contenteditable="True" style="font-size:20px;font-weight:bold;width:30px;flex:1">暂无</div>
    </div>

    <div id="gender_con">
        <div style="font-size:20px;font-weight:bold;width:30px;flex:1"> 工作邮箱 </div>
        <div contenteditable="True" style="font-size:20px;font-weight:bold;width:30px;flex:1">暂无</div>
    </div>
</div>
</body>
</html>