<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        {% load static %}
        <script>
            var Data = {{ Data|safe }},
                UserName = '{{ UserName|safe }}';
        </script>
        <script> var UserType = "labeler" </script>
        <link rel="stylesheet" href="{% static '/CSS/detail.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static '/history/CSS/pagination.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static '/history/CSS/an-skill-bar.css' %}" type="text/css">
        {% comment %} <link rel="stylesheet" href="{% static 'CSS/accordion-menu.css' %}" type="text/css"> {% endcomment %}
        <script type="text/javascript" src="{% static '/history/JS/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript" src="{% static '/JS/detail.js' %}"></script>
        <script type="text/javascript" src="{% static '/history/JS/pagination.js' %}"></script>
        <script type="text/javascript" src="{% static '/history/JS/an-skill-bar.js' %}"></script>
        <script>
        if (UserName=="labeler"){
            Data =[
                {'TaskID': 766, 'TaskName': '猫12分类', 'ItemID': '图像', 'Time': '2022-05-12 13:00:19', 'Payment': '0.20 ¥', 'State': 'Success'},
                {'TaskID': 766, 'TaskName': '猫12分类', 'ItemID': '图像', 'Time': '2022-05-12 13:00:30', 'Payment': '0.20 ¥', 'State': 'Success'},
                {'TaskID': 766, 'TaskName': '猫12分类', 'ItemID': '图像', 'Time': '2022-05-12 13:00:49', 'Payment': '0.20 ¥', 'State': 'Success'},
                {'TaskID': 766, 'TaskName': '猫12分类', 'ItemID': '图像', 'Time': '2022-05-12 13:00:59', 'Payment': '0.20 ¥', 'State': 'Success'},
                {'TaskID': 766, 'TaskName': '猫12分类', 'ItemID': '图像', 'Time': '2022-05-12 13:01:20', 'Payment': '0.20 ¥', 'State': 'Success'},
                {'TaskID': 766, 'TaskName': '猫12分类', 'ItemID': '图像', 'Time': '2022-05-12 13:01:50', 'Payment': '0.20 ¥', 'State': 'Success'},
                {'TaskID': 766, 'TaskName': '猫12分类', 'ItemID': '图像', 'Time': '2022-05-12 13:02:10', 'Payment': '0.20 ¥', 'State': 'Success'},
                {'TaskID': 1022, 'TaskName': '领导力判别', 'ItemID': '文本', 'Time': '2022-05-24 14:20:09', 'Payment': 0, 'State': 'Under review'},
                {'TaskID': 227, 'TaskName': '年龄识别', 'ItemID': '图像', 'Time': '2022-06-01 13:15:23', 'Payment': 0, 'State': 'Under review'},
                {'TaskID': 369, 'TaskName': '公司状态分析', 'ItemID': '文本', 'Time': '2022-06-02 06:30:11', 'Payment': 0, 'State': 'Under review'},
                {'TaskID': 1557, 'TaskName': '男女声音识别', 'ItemID': '音频', 'Time': '2022-06-05 16:10:29', 'Payment': 0, 'State': 'Fail'},
                {'TaskID': 110, 'TaskName': '公交车识别', 'ItemID': '视频', 'Time': '2022-06-07 19:15:49', 'Payment': '0.07 ¥', 'State': 'Success'},
            ]
        }
        </script>
        {% comment %} <script type="text/javascript" src="{% static 'JS/accordion-menu.js' %}"></script> {% endcomment %}
    </head>

    <body>
        {% comment %} <div id="head">
            <a id="Title"><p><b>数据标注平台</b></p></a>
            <div id="userdiv">
                <a id="User"><p id="UserName">UserName</p></a>
                <div id="usermenu">
                    <ul>
                        <li><a href="javascript:">个人中心</a></li>
                        <li><a href="javascript:">账号管理</a></li>
                        <li><a href="javascript:Logout()">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div> {% endcomment %}
        <h1 id="title">收入明细</h1>
        <div id="maindiv">
            <div id="tablediv">
                <table id="datatable" cellpadding="13.6" cellspacing="0">
                </table>
            </div>
        </div>
        <div id="pagediv"><div id="pagination" size="0" on-change="changepage"></div></div>
    </body>
</html>

