<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta charset="utf-8">
    <script>
            var Data = {{ Data|safe }},
                labeler_url = "{% url 'labeler:show_tasks' %}",
                label_url = "{% url 'labeler:label_task' %}",
                main_menu_url = "{% url 'main_menu:index' %}",
                login_url = "{% url 'login:index' %}",
                detail_url = "{% url 'show_info:detail' %}"
                UserName = '{{ UserName|safe }}';
    </script>
    {% load static %}

    <link rel="stylesheet" href="{% static 'CSS/center/index.css' %}" type="text/css">
    <title>个人中心</title>
    <script type="text/javascript" src="{% static "JS/jquery-3.6.0.js" %}"></script>
    <script type="text/javascript" src="{% static "JS/center/echarts.min.js" %}"></script>
    <script type="text/javascript" src="{% static "JS/center/index.js" %}"></script>
    <script src="{%  static "JS/center/circleChart.min.js" %}"></script>



</head>
<body>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp标注者个人中心</h4>
<div id="con2">
    <div class="A">
        <div id="a1">
            <div id="a11"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#6658dd" stroke-width="1.5" stroke-linecap="butt" stroke-linejoin="round"><path d="M14 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V8l-6-6z"/><path d="M14 3v5h5M16 13H8M16 17H8M10 9H8"/></svg>
        </div>
        <p>已完成任务量</p>
        <h5 id="task_num"></h5>
    </div>
    <div class="B">
        <div id="b1">
            <div id="b11"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#1abc9c" stroke-width="1.5" stroke-linecap="butt" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
        </div>
        <p>平均准确率</p>
        <h5 id="Rate"></h5>
    </div>
    <div class="C">
        <div id="c1">
            <div id="c11"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#4fc6e1" stroke-width="1.5" stroke-linecap="butt" stroke-linejoin="round"><rect x="2" y="4" width="20" height="16" rx="2"/><path d="M7 15h0M2 9.5h20"/></svg><line x1="12" y1="1" x2="12" y2="23"></line><path d="M7 15h0M2 9.5h20"></path></svg>
        </div>
        <p>钱包余额</p>
        <h5 id="Payment"></h5>
    </div>
    <div class="D">
        <div id="d1">
            <div id="d11"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#f7b84b" stroke-width="1.5" stroke-linecap="butt" stroke-linejoin="round"><path d="M21.5 12H16c-.7 2-2 3-4 3s-3.3-1-4-3H2.5"/><path d="M5.5 5.1L2 12v6c0 1.1.9 2 2 2h16a2 2 0 002-2v-6l-3.4-6.9A2 2 0 0016.8 4H7.2a2 2 0 00-1.8 1.1z"/></svg>        </div>
        <p>待审收入</p>
        <h5 id="Undetermined"></h5>
    </div>
</div>
<div id="con1">
    <h4> &nbsp&nbsp&nbsp&nbsp信用评级情况 </h4>
    <div class="circleChart"></div>
        <script>
            $(".circleChart").circleChart({
            color: "rgba(0, 139, 139, 0.25)",
            startAngle: 25,
            text: true,
            animation: "easeInOutCubic",
            backgroundColor: "#F5F6F8", // 进度条之外颜色
            background: true, // 是否显示进度条之外颜色
            speed: 1000, // 出现的时间
            widthRatio: 0.15, // 进度条宽度
            value: Data["Level"]["percentage"],  // 进度条占比
            unit: "percent",
            counterclockwise: false, // 进度条反方向
            size: 175, // 圆形大小
            animate: true, // 进度条动画
            backgroundFix: true,
            lineCap: "round",
            redraw: false,
            cAngle: 0,
            textCenter: true,
            textSize: false,
            textWeight: "normal",
            textFamily: "Comic Sans MS",
            relativeTextSize: 1 / 7, // 进度条中字体占比
            autoCss: true,
            onDraw: function(el, circle) {
                circle.text(Math.round(circle.value) ); // 根据value修改text
            }
        });
    </script>
    <p class="font" id="mid">信用等级</p>
    <p class="big" id="level"></p>
    <div class="tiptool">
        <embed src="{% static 'IMG/publisher/help-circle.svg' %}" type="image/svg+xml" class="help-circle"/>
        <span class="tooltiptext">
            信用等级可以通过准确完成任务提升
        </span>
    </div>
</div>
</div>

<div id="con3">
    <h4> 历史活跃度 </h4>
    <div id="active" style="height: 100%"></div>


      <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
      <script type="text/javascript">
          var list = [displayResult(-6),displayResult(-5),displayResult(-4),displayResult(-3),displayResult(-2),displayResult(-1),displayResult(0)];

          function displayResult(num){
            var  dateTime=new Date()
            dateTime=dateTime.setDate(dateTime.getDate()+num);
            dateTime=new Date(dateTime);
            dateTime=String(dateTime);
            dateTime=dateTime.slice(4,10);
            return dateTime
                }
        var dom = document.getElementById('active');
        var myChart = echarts.init(dom, null, {
          renderer: 'canvas',
          useDirtyRect: false
        });
        var app = {};

        var option;

        option = {
      xAxis: {
        type: 'category',
        data: list
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          data: Data["Active"],
          type: 'line'
        }
      ]
    };

        if (option && typeof option === 'object') {
          myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);
      </script>
    </div>

<div id="con4">
    <button id="button1" onclick="window.location.href = detail_url">收入明细</button>
    <button id="button2">收入提现</button>
    <button id="button3">联系客服</button>
</div>

<script>
    document.getElementById("task_num").innerHTML = Data["ItemNum"];
    document.getElementById("Rate").innerHTML = Data["Rate"];
    document.getElementById("Payment").innerHTML = Data["Payment"];
    document.getElementById("Undetermined").innerHTML = Data["Undetermined"];
    document.getElementById("level").innerHTML = Data["Level"]["level"];
</script>
</body>
</html>