<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <title>Register</title>
        <link rel="stylesheet" href="{% static 'CSS/register.css' %}">
        <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript" charset="utf-8">
            var userform_url = "{% url 'login:register' %}"
            var login_url = "{% url 'login:index' %}"
        </script>
        <script type="text/javascript" src="{% static 'JS/register.js' %}"></script>
    </head>
    <body>
        <div class="background">
            <img src="{% static 'IMG/register/bg.jpg' %}" alt="" id="bg">
        </div>
        <div class="main">
            <img src="{% static 'IMG/register/8.jpg' %}" alt="" id="head">
            <p class="title">SIGN UP</p>
            <form name="userdata" method="post">
                <p class="stitle">Email</p>
                <input type="text" name="" id="Email" placeholder="Email"/>
                <p class="stitle">UserName</p>
                <input type="text" name="" id="UserName" placeholder="UserName"/>
                <p class="stitle">Password</p>
                <input type="password" name="" id="Password" placeholder="Password"/>
                <p class="stitle">Confirm Password</p>
                <input type="password" name="" id="confirm_password" placeholder="Confirm Password"/>
                <p class="stitle">身份</p>
                <div class="container">
                    <label><input type="radio" name="UserType" value="publisher" checked="checked"><span>发布者</span></label>
                    <label><input type="radio" name="UserType" value="labeler"><span>标注者</span></label>
                </div>
                {% comment %} <div class="input_wrapper">
                    <input type="checkbox" class="switch_4">
                    <p class="is_checked">发布者</p>
                    <p class="is_unchecked">标注者</p>
                </div> {% endcomment %}
            </form>
            <button id="submit">Submit</button>
            <p class="signup">Already Have an Account? <a href="{% url 'login:index' %}"><b>Sign In</b></a></p>
        </div>
    </body>
</html>