


body{
    background-color: #F5F6F8;
}
#distribution{
	background-color: #FFFFFF;
	width:400px;
	height: 400px;
    position:absolute;
	left:150PX;
	top:50px;
}

#active{
    width: 100%;
	position:absolute;
	left:0%;
	top:15px;

}

#con1 {
	background-color: #FFFFFF;
	width: 33%;
	height: 350px;
	position: absolute;
	left: 2.46875%;
	top: 220px;
	display: flex;
	flex-direction:column;
}

#con1 .circleChart{
	height: 80px;
	align-self:center;
	color:darkcyan;
}
#con1 #mid{
	color: #98a6ad!important;
	position: absolute;
	top:280px;
	transform: translateX(-50%);
	left: 50%;
}
#con1 .big{
	position: absolute;
	top:230px;

	transform: translateX(-50%);
	font-size: 26px;
	font-weight: bold;
	left: 50%;
}

#con2 {
	display: flex;
	width: 97.5%;
	height: 115px;
	position: absolute;
	left: 1.25%;
	top: 9%;
}
#con2 .A,#con2 .B, #con2 .C, #con2 .D{
	background-color: #FFFFFF;
	display: flex;
	width: 22.5%;
	height: 100%;
	position: absolute;
}
#con2 .A{
	left:1.25%;
}
#con2 .B{
	left:26.25%;
}
#con2 .C{
	left:51.25%;
}
#con2 .D{
	left:76.25%;
}
#con2 .A svg, #con2 .B svg, #con2 .C svg, #con2 .D svg{
	padding: 20px;
}
#con2 .A p,#con2 .B p,#con2 .C p,#con2 .D p{
	font-family: Nunito,PingFang SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
	color: #98a6ad!important;
	font-size: 13px;
	position: absolute;
	right:30px;
	bottom: 20px;
	text-align: right;
}

#con2 .A h5,#con2 .B h5,#con2 .C h5,#con2 .D h5{
	font-family: Nunito,PingFang SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
	color: black!important;
	font-size: 20px;
	position: absolute;
	right:30px;
	margin:0;
	top: 30px;
	text-align: right;
}

#con3{
	background-color: #FFFFFF;
	width: 61%;
	height: 350px;
	position: absolute;
	right: 2.468%;
	top: 220px;
}

#con3 h4{
	position: absolute;
	left:30px;
	top:5px;
}

.tiptool{
	position: absolute;
	width:5px;
	right:39%;
	top:298px;

}

.tiptool embed{
	width:15px;
}
.tiptool .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgb(245,246,248);
    color: black;
	text-align: center;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 1000;
	right:-140px;
	bottom:-35px;
    margin-left: calc(-688px + 360px - 1.5em);
	margin-top: -5px;
}

.tiptool .tooltiptext::after {
    content: "";
    position: absolute;
	right:150px;
	bottom:50px;
    margin-left: calc(-50% + 360px - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(245,246,248) transparent;
}

.tiptool:hover .tooltiptext {
	visibility: visible;
}

#con4 {
	background-color: #FFFFFF;
	position: absolute;
	bottom: 35px;
	left: 35px;
	width: 47%;
	height: 12.5%;
}