:root{
    --head-height: 4.5em;
    --menu-width:15em;
    --menu-border-radius: 0.5em;
}
body{
    margin: 0;
}

#head{
    position: fixed;
    background-color: rgb(58,65,75);
    /* background: url('../IMG/main_menu/headbg.jpg');
    background-size: cover; */
    width: 100%;
    height: var(--head-height);
    margin: 0;
    padding: 0;
    box-shadow: 0.2em 1em 0.2em -1em #d6d1e0;
}
#Title{
    position: absolute;
    height: 100%;
    width: var(--menu-width);
    margin: 0;
    padding: 0;
}
#Title p{
    position: relative;
    font-size: 24px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    text-align: center;
    user-select: none;
    color: white;
}
#userdiv{
    position: absolute;
    margin: 0;
    padding: 0 2em;
    right: 0;
    top: 0;
    z-index: 1000;
}
#User{
    position: absolute;
    height: var(--head-height);
    margin: 0;
    padding: 0 2em;
    right: 0;
    top: 0;
    /* border-left: solid #ff0000; */
}
#userdiv:hover #User p#UserName{
    color: rgb(104, 119, 107);
}
#User p#UserName{
    position: relative;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    text-align: center;
    user-select: none;
    color: white;
}
#usermenu{
    position: absolute;
    margin-top: -10px;
    top: -1000em;
    right: 20px;
    width: 60px;
    padding: 0 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px -3px gray;
    background-color: white ;
    /* border: 1px solid gray; */
}
#usermenu ul {
    /* display: none; */
    list-style: none;
    padding: 0;
    margin: 5px 0;
    /* margin: 0 0 12px 0; */
}
#usermenu ul li{
    font-size: 14px;
    line-height: 30px;
    position: relative;
    /* text-shadow: 1px 1px 1px white; */
    padding: 0;
    margin: 0;
    text-align: center;
    user-select: none;
    /* width: 130px; */
}
#usermenu ul li a{
    color: black;
    text-decoration: none;
}
#usermenu ul li a:hover{
    color: blue;
}
#userdiv:hover #usermenu{
    top: var(--head-height);
}

#menu{
    position: fixed;
    background-color: #fff;
    width: var(--menu-width);
    height: calc(100vh - var(--head-height));
    margin: 0;
    padding: 0;
    bottom: 0;
}
#menu_active{
    background-color: rgb(245,246,248);
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    border-radius: var(--menu-border-radius) 0 0 var(--menu-border-radius);
    z-index: 0;
    padding: 0;
}
#menu_active a{
    display: block;
    width: var(--menu-width);
    height: 3em;
}
#menu_active a::after {
    content: "";
    height: calc(100% + 2 * var(--menu-border-radius));
    width: 50%;
    background-color: rgb(245,246,248);
    position: absolute;
    top: calc(0px - var(--menu-border-radius));
    right: 0;
}
#menu_active::before {
    content: "";
    height: var(--menu-border-radius);
    width: 100%;
    border-radius: 0 0 var(--menu-border-radius) 0;
    background-color: #fff;
    position: absolute;
    top: calc(0px - var(--menu-border-radius));
    left: 0;
    z-index: 1;
}
#menu_active::after {
    content: "";
    height: var(--menu-border-radius);
    width: 100%;
    border-radius: 0 var(--menu-border-radius) 0 0;
    background-color: #fff;
    position: absolute;
    bottom: calc(0px - var(--menu-border-radius));
    left: 0;
    z-index: 1;
}
#menu ul{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 1.5em;
    z-index: 2;
    flex-direction: column;
}
#menu li{
    list-style: none;
    padding: 1em 2em;
    /* display: block;
    clear: both; */
}
#menu li:hover{
    background-color: #ffffff33;
}
#menu li svg{
    transform: translateY(2px);
}
#menu li a{
    text-decoration: none;
    user-select: none;
    color: #3a3a3a;
}

#SUBHTML{
    position: absolute;
    left: var(--menu-width);
    top: var(--head-height);
    width: calc(100vw - var(--menu-width));
    height: calc(100vh - var(--head-height));
    /* background-color: aqua; */
}

/* 以下实际使用若已初始化可删除 .lsm-sidebar height父级需逐级设置为100%*/
/* body,html{height: 100%;background: #E2E2E2}
body,ul{margin:0;padding:0}
body{font:14px "微软雅黑","宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;}
li{list-style:none}
a{text-decoration:none;} */
/* 以上实际使用若已初始化可删除 */

/* lsm-sidebar */
.left-side-menu,.lsm-popup.lsm-sidebar   ul li, .lsm-container.lsm-mini .lsm-sidebar>ul>li.lsm-sidebar-item>ul>li.lsm-sidebar-item>ul{
    background: #3b3e47;
}


.left-side-menu {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none; }
.left-side-menu{height: calc(100% - 80px);width: 220px;}
.lsm-expand-btn{height: 65px;}
.lsm-container {height: calc(100% - 65px); transition: all .3s;z-index: 100}

.lsm-container li>a.active{ background: #c55b03; color: #fff; }


.lsm-sidebar a{display: block;overflow: hidden;padding-left: 20px;line-height: 40px;max-height: 40px;color: #b2b8be;transition: all .3s;}
.lsm-container ul:first-child > li> a, .lsm-container ul:first-child > li> a span{ line-height: 55px;max-height: 55px; }
.lsm-sidebar a span{margin-left: 30px;}
.lsm-sidebar .lsm-sidebar-item .lsm-sidebar-item >ul>li a span{margin-left: 60px;}
.lsm-sidebar-item{position: relative;}
.lsm-sidebar-item.lsm-sidebar-show{border-bottom: none;}
.lsm-sidebar-item ul{display: none;background: rgba(0,0,0,.1);}
.lsm-sidebar-item.lsm-sidebar-show ul{display: block;}
.lsm-sidebar-item>a:before{content: "";position: absolute;left: 0px;width: 2px;height: 40px;background: #34A0CE;opacity:0;transition: all .3s;}
.lsm-container ul:first-child>li.lsm-sidebar-item>a:before{height: 55px;}
.lsm-sidebar .lsm-sidebar-icon{font-size: 20px;position: absolute;margin-left:-1px;}
/* 此处修改导航图标 可自定义iconfont 替换*/
.icon_1::after{content: "\e62b";}
.icon_2::after{content: "\e669";}
.icon_3::after{content: "\e61d";}
.icon_3::after{content: "\e698";}

.lsm-sidebar-more{float:right;margin-right: 20px;font-size: 12px;transition: transform .3s;}

/* 导航右侧箭头 换用其他字体需要替换*/
.lsm-sidebar-more::after{content: "\e621";}


.lsm-sidebar-show > a > i.my-icon.lsm-sidebar-more{transform:rotate(90deg);}
.lsm-sidebar-show,.lsm-sidebar-item>a:hover{color: #FFF;background: rgba(0, 0, 0, 0.2);}
.lsm-sidebar-show>a:before,.lsm-sidebar-item>a:hover:before{opacity:1;}
.lsm-sidebar-item li>a:hover,.lsm-popup>div>ul>li>a:hover{color: #FFF; background: #6e809c;}
.lsm-mini-btn{height: 70px;width: 70px;}
.lsm-mini-btn svg{margin: -10px 0 0 -10px;}
.lsm-mini-btn input[type="checkbox"]{display: none;}

.lsm-mini-btn path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .8s cubic-bezier(.645, .045, .355, 1);
}

.lsm-mini-btn circle {fill: #fff3;opacity: 0;}
.lsm-mini-btn label {top: 0; right: 0;}
.lsm-mini-btn label:hover circle {opacity: 1;}
.lsm-mini-btn input:checked+svg .line--1, .lsm-mini-btn input:checked+svg .line--3 {--length: 8.602325267;}
.lsm-mini-btn .line--1, .lsm-mini-btn .line--3 {--total-length: 126.38166809082031;}
.lsm-mini-btn .line--2 {--total-length: 80;}
.lsm-mini-btn input:checked+svg .line--1, .lsm-mini-btn input:checked+svg .line--3 {--offset: -109.1770175568;}

.lsm-mini .lsm-container, .lsm-mini .lsm-container{width: 60px;}
.lsm-container.lsm-mini .lsm-sidebar .lsm-sidebar-icon{/* margin-left:-2px; */}
.left-side-menu.lsm-mini ul:first-child>li.lsm-sidebar-item>a span{display: none;}
.left-side-menu.lsm-mini ul:first-child>li.lsm-sidebar-item>a> i.lsm-sidebar-more{margin-right: -20px;}

.lsm-container.lsm-mini .lsm-sidebar>ul>li.lsm-sidebar-item>ul>li.lsm-sidebar-item>ul{
    display:none;
    position: absolute;top:0px;left:180px;width: 180px;z-index: 99;
    bottom: 0px;
    top: 0px;
    overflow: hidden;
}
.left-side-menu.lsm-mini ul:first-child > li > ul{
    display: none;
}
.transform { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.lsm-popup div{background: #05161f;}
.lsm-popup{
    display: block;
    position: absolute;
    border: 3px solid rgba(60, 71, 76, 0);
}

.lsm-popup > div > a > i.my-icon.lsm-sidebar-more{
    transform:rotate(90deg);
}

.lsm-popup.second{
    left: 60px;
}
.lsm-popup.third{
    left: 243px;
}
.lsm-popup.third.lsm-sidebar > div > ul {
    display: block;
}
.lsm-popup div {
    border-radius: 5px;
}
.lsm-popup .lsm-sidebar-icon{
    display: none;
}
.lsm-popup.lsm-sidebar a span{
    margin-left: 0px;
}
.lsm-popup.lsm-sidebar > div > ul > li.lsm-sidebar-item>ul{position: absolute;top:0px;left:180px;width: 180px;z-index: 99;}

.lsm-popup.lsm-sidebar   ul {
    width: 180px;
}
.lsm-popup.lsm-sidebar   ul li{
    width: 180px;
}
.lsm-popup.lsm-sidebar ul li:last-child, .lsm-popup>div>ul>li:last-child>a{
    border-radius: 0 0 5px 5px ;
}

