:root{
    --head-height: 4em;
    --menu-width:12em;
    --menu-border-radius: 0.5em;
}
body{
    margin: 0;
}

#head{
    position: fixed;
    background-color: beige;
    width: 100%;
    height: var(--head-height);
    margin: 0;
    padding: 0;
}
#Title{
    position: absolute;
    height: 100%;
    width: var(--menu-width);
    margin: 0;
    padding: 0;
}
#Title p{
    position: relative;
    font-size: large;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    text-align: center;
}
#User{
    position: absolute;
    height: 100%;
    margin: 0;
    padding: 0 2em;
    right: 0;
    /* border-left: solid #ff0000; */
}
#User:hover{
    background-color: rgb(216, 241, 69);
}
#User p#UserName{
    position: relative;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    text-align: center;
}

#menu{
    position: fixed;
    background-color: #ddd;
    width: var(--menu-width);
    height: calc(100vh - var(--head-height));
    margin: 0;
    padding: 0;
    bottom: 0;
}
#menu_active{
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    border-radius: var(--menu-border-radius) 0 0 var(--menu-border-radius);
    z-index: 0;
    padding: 0;
}
#menu_active a{
    display: block;
    width: var(--menu-width);
    height: 3em;
}
#menu_active a::after {
    content: "";
    height: calc(100% + 2 * var(--menu-border-radius));
    width: 50%;
    background-color: #fff;
    position: absolute;
    top: calc(0px - var(--menu-border-radius));
    right: 0;
}
#menu_active::before {
    content: "";
    height: var(--menu-border-radius);
    width: 100%;
    border-radius: 0 0 var(--menu-border-radius) 0;
    background-color: #ddd;
    position: absolute;
    top: calc(0px - var(--menu-border-radius));
    left: 0;
    z-index: 1;
}
#menu_active::after {
    content: "";
    height: var(--menu-border-radius);
    width: 100%;
    border-radius: 0 var(--menu-border-radius) 0 0;
    background-color: #ddd;
    position: absolute;
    bottom: calc(0px - var(--menu-border-radius));
    left: 0;
    z-index: 1;
}
#menu ul{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 1.5em;
    z-index: 2;
    flex-direction: column;
}
#menu li{
    list-style: none;
    padding: 1em 2em;
    /* display: block;
    clear: both; */
}
#menu li:hover{
    background-color: #ffffff33;
}
#menu li a{
    text-decoration: none;
}

#SUBHTML{
    position: absolute;
    left: var(--menu-width);
    top: var(--head-height);
    width: calc(100vw - var(--menu-width));
    height: calc(100vh - var(--head-height));
    /* background-color: aqua; */
}