body{
    background-color: #F5F6F8;
    color: #323A46;
    font-family: Comic Sans MS ;
}
#con0{
    background-color: white;
    width:95%;
    height:600px;
    position: absolute;
    top:75px;
    left:2.5%;
}
#name_con,#email_con,#task_con,#topic_con,#type_con,#pri_con{
    /*background-color: #5fbaac;*/
    width:31.5%;
    height:67px;
    position: absolute;

}
#name_con{
     left:2.5%;
     top:110px;
}
#email_con{
    left:34%;
    top:110px;
}
#task_con{
    left:65.5%;
    top:110px;
}
#topic_con{
    left:2.5%;
    width:65%!important;
    top:200px;
}
#type_con{
    left:65.5%;
    top:200px;
}
#pri_con{
    left:2.5%;
    top:285px;
}
#detail_con{
    width:100%;
    height:67px;
    position: absolute;
    left:2.5%;
    top:360px;
}
#name,#email{
    position: absolute;
    top:0;
    font-family: Nunito,PingFang SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
    font-size: .875rem;
    font-weight: bold;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
}
#name0,#email0,#topic0,#detail0,#pri0,#task0,#ID0{
    position: absolute;
    top:50px;
    font-family: Nunito,PingFang SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
    font-size: .875rem;
    line-height: 1.5;
    width:90%;
    border:1px solid rgba(50, 58, 70, 0.5) !important;
    border-radius: 5px;
    color: #6c757d;
    text-align: left;
    padding: 7.2px 2.5%;
}

#task0{
    width:96%;
}
#pri0{
    top:42px;
    left:0px;
    border:0!important;
    padding: 7.2px 0%;
}

#topic0{
    padding: 7.2px 1.0%!important;
    width:92%;
    color: rgba(108, 117, 125, 0.5)!important;
}
#detail0{
    padding: 7.2px 0.6125%!important;
    color: rgba(108, 117, 125, 0.5)!important;
    width:93%;
    height:100px;
}

#button1{
	position: absolute;
	background-color: #1ABC9C;
	top:540px;
    left:2.5%;
	font-size: 18px;
	border: none;
    border-radius: 3px;
    padding: 3.2px 9.6px;
    color: white !important;
    opacity: 0.8;
}

#button1:hover{
    background-color: darkcyan;
}