/*** 搜索筛选排序 ***/
:root{
  --box-border-radius: 6px;
}

.sss{
  position: relative;
  width: calc(80vw - 2px);
  padding: 0;
  margin: 0 auto 1em;
  border: 1px solid #d6d1e0;
  border-radius: var(--box-border-radius);
  box-shadow: 0.2em 1em 0.2em -1em #d6d1e0;
  background-color: white;
}
.sss .searchdiv{
  margin: 2em 2em;
}
.sss .selectdiv{
  margin: 1em 2em;
}
.ssstitle{
  position: relative;
  display: inline-block;
  /* float: left; */
  font-size: 18px;
  color: #3a3a3a;
  margin: 0;
  padding: 3px 0 0;
}
#searchform, #selectcheckbox{
  position: absolute;
  display: inline-block;
  left: 8em;
  margin: 0;
  width: 70%;
}
.selectlabel .tasklabel{
  font-size: 16px;
  font-weight: bold;
  padding: 3px 5px;
}
/* #searchform {background: #A3D0C3;} */
#searchform input {
  width: 100%;
  font-size: 18px;
  height: 1.5em;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  border: 2px solid darkcyan;
  border-radius: 3px;
  outline: none;
  /* background: #F9F0DA; */
  color: #474747;
}
#searchform button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 72px;
  height: 31px;
  border: none;
  margin-right: -13px;
  color: white;
  background: darkcyan;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
#searchform button::before {
  /* content: url("../IMG/labeler/search.svg"); */
  content: "search";
  font-weight: bold;
  font-size: 14px;
}

/*** 任务列表 ***/
.collapse-init summary + * {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  margin-top: -2em;
  padding-bottom: 2em;
  
}
.collapse-init :not(.panel-active) summary + * {
  height: 0;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.collapse-init summary {
  list-style: none;
}
.collapse-init summary::-webkit-details-marker {
  display: none;
}
.collapse-init summary::before {
  display: none;
}
.collapse-init summary {
  cursor: pointer;
}

.container {
  position: relative;
  box-shadow: 0.2em 1em 2em -1em #d6d1e0;
  margin: 0 auto;
  width: 80vw;
  /* min-height: calc(100vh - 260px); */
}

details {
  background: #fff;
  border: 1px solid #d6d1e0;
  border-bottom: 0;
  list-style: none;
}
details:first-child {
  border-radius: var(--box-border-radius) var(--box-border-radius) 0 0;
}
details:last-child {
  border-bottom: 1px solid #d6d1e0;
  border-radius: 0 0 var(--box-border-radius) var(--box-border-radius);
}

summary {
  display: block;
  transition: 0.2s;
  font-weight: 700;
  color: #3a3a3a;
  padding: 1.5rem 2rem;
}
summary h3{
  font-size: 20px;
  margin-top: 0;
}
.tasklabel{
  font-size: 14px;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 0;
  margin-right: 5px;
  color: #ffffff;
  background-color:darkcyan;
}
.taskdeadline{
  font-size: 14px;
  font-weight: lighter;
  color:gray;
  margin-left: calc(50% - 12em);
}
.taskpayment{
  font-size: 32px;
  font-weight: lighter;
  float: right;
  margin-right: 0;
  margin-top: -1em;
}
.taskpayment .lower{
  font-size: 18px;
}

.tasklabel, .taskdeadline, .taskpayment{
  transition: opacity 0.3s;
}
[open] .tasklabel, [open] .taskdeadline, [open] .taskpayment{
  transition: opacity 0s;
  opacity: 0;
}

.details-styling {
  position: relative;
  padding: 0;
  margin: 0 2em 1em;
  z-index: 1;
}
.details-styling .detailtitle{
  position: relative;
  display: inline-block;
  left: 0;
  font-weight: bold;
  width: 5em;
  text-align: left;
  margin: 0;
}
.details-styling .detailcontent{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 6em;
  margin: 0;
}
.details-styling .dotaskbutton{
  padding: 1em 2em 0;
  margin: 3em 0 0;
  float: right;
}
.details-styling:first-child{
  margin-top: 0;
}

.checkboxclass {
	display: none;
}
.checkboxclass + label {
	cursor: pointer;
	font-size: 1em;
}
.checkboxclass + label {
	background-color: #FFF;
	padding: 6px 24px 8px 9px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
	/* box-shadow: 0 0 2px rgba(0,0,0,0.3); */
	height: 17px;
	overflow: hidden;
	font-size: 1em !important;
	color: #464E50;
	-webkit-transition: all 0.2s linear, color 0 linear;
	transition: all 0.2s linear, color 0 linear;
}

.checkboxclass + label:after {
	content: '';
	position: absolute;
	/* background: #FFF; */
	top: 0px;
	right: 4px;
	width: 16px;
	display: block;
	font-size: 1em !important;
	height: 16px;
	/* border-radius: 3px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), inset 0 -18px 15px -10px rgba(0, 0, 0, 0.05); */
	padding: 4px 0px;
	text-align: center;
	color: rgb(255, 255, 255);
}

.checkboxclass:checked + label {
	color: #fff;
}

.checkboxclass + label > span {
	position: relative;
  padding: 0;
  margin: 0;
	z-index: 99;
	font-family: 'adelle-sans', sans-serif;
}

/* .checkboxclass:active + label:after {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), inset 0 2px 6px rgba(0, 0, 0, 0.1), inset 0 -18px 15px -10px rgba(0, 0, 0, 0.05);

} */

.checkboxclass:checked + label:after {
	content: '✖';
}

.checkboxclass + label:before {
	content: '';
	position: absolute;
	background: darkcyan;
	width: 0%;
	height: 100%;
	top: 0;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	left: 0;
}

.checkboxclass:checked + label:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	top: 0;
	left: 0;
}
