:root{
    --head-height: 4.5em;
    --menu-width: 15em;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(245,246,248);
}

#head{
    position: fixed;
    background-color: rgb(58,65,75);
    width: 100%;
    height: var(--head-height);
    margin: 0;
    padding: 0;
    box-shadow: 0.2em 1em 0.2em -1em #d6d1e0;
    z-index: 1000;
}
#Title{
    position: absolute;
    height: 100%;
    width: var(--menu-width);
    margin: 0;
    padding: 0;
}
#Title p{
    position: relative;
    font-size: large;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    text-align: center;
    user-select: none;
    color: white;
}
#userdiv{
    position: absolute;
    margin: 0;
    padding: 0 2em;
    right: 0;
    top: 0;
    z-index: 1000;
}
#User{
    position: absolute;
    height: var(--head-height);
    margin: 0;
    padding: 0 2em;
    right: 0;
    top: 0;
    /* border-left: solid #ff0000; */
}
#userdiv:hover #User p#UserName{
    color: blue;
}
#User p#UserName{
    position: relative;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    text-align: center;
    user-select: none;
    color: white;
}
#usermenu{
    position: absolute;
    margin-top: -10px;
    top: -1000em;
    right: 20px;
    width: 60px;
    padding: 0 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px -3px gray;
    background-color: white ;
    /* border: 1px solid gray; */
}
#usermenu ul {
    /* display: none; */
    list-style: none;
    padding: 0;
    margin: 5px 0;
    /* margin: 0 0 12px 0; */
}
#usermenu ul li{
    font-size: 14px;
    line-height: 30px;
    position: relative;
    /* text-shadow: 1px 1px 1px white; */
    padding: 0;
    margin: 0;
    text-align: center;
    user-select: none;
    /* width: 130px; */
}
#usermenu ul li a{
    color: black;
    text-decoration: none;
}
#usermenu ul li a:hover{
    color: blue;
}
#userdiv:hover #usermenu{
    top: var(--head-height);
}

#ruletextdiv{
    position: absolute;
    margin: 0;
    padding: 0;
    top: var(--head-height);
    height: calc(100vh - var(--head-height));
    width: 38.2vw;
    /* overflow-x: visible; */
    /* background-color: aqua; */
}
#ruletextbox{
    position: absolute;
    left: 30px;
    top: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background-color: white;
    border-radius: 6px;
    box-shadow: 0.2em 1em 1em 0.1em #d7d4df6b;
    border: 1px solid rgba(128, 128, 128, 0.5);
}
#ruletext_h{
    position: relative;
    left: 30px;
    top: 0.6em;
}
#ruletext{
    position: relative;
    left: 30px;
    top: 1em;
    width: calc(38.2vw - 120px);
    /* background-color: red; */
}
#ruletext pre{
    display: inline;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
#ruletext pre.selected{
    background-color: yellow;
    user-select: none;
}

#taskdiv{
    /* text-align: center; */
    position: absolute;
    margin-left: -2px;
    height: calc(100vh - var(--head-height));
    top: var(--head-height);
    left: 38.2vw;
    width: 61.8%;
    border-left: 2px solid gray;
    overflow: auto;
    /* background-color: grey; */
}
#tasktablediv{
    position: absolute;
    top: 20px;
    left: 5%;
    width: 90%;
    margin: 0;
    /* background-color: white;
    border-radius: 6px;
    box-shadow: 0.2em 1em 1em 0.1em #d7d4df6b;
    border: 1px solid rgba(128, 128, 128, 0.5); */
}
.datatable{
    position: relative;
    text-align: left;
    left: calc(50% - 1em);
    transform: translateX(-50%);
    margin: 1em 1em;
    width: 90%;
    border-radius: 4px;
    border-collapse:separate;
    border: 1px solid black;
}
.datatable th{
    width: 10em;
    word-break:break-all;
    border-right: 1px solid black;
    color: #3a3a3a;
}
.datatable td{
    width: calc(100% - 10em);
    color: #3a3a3a;
}
.datatable tr:nth-child(2n) th,.datatable tr:nth-child(2n) td{
    background-color: white;
}
.datatable tr:nth-child(2n-1) th,.datatable tr:nth-child(2n-1) td{
    background-color: rgba(234, 234, 234, 0.671);
}
.labelinput{
    position: relative;
    display: block;
    left: calc(5% + 0em);
    width: 12em;
    height: 24px;
}
#submit{
    position: relative;
    display: block;
    left: 1.3em;
    margin-top: 3em;
}

#foldbutton {
    position: absolute; 
    top: 50vh;
    left: 38.2vw;
    transform: translateY(-50%) perspective(2em) rotateY(30deg);
    width: 10px;
    height: 80px;
    border: none;
    /* margin: 10px 0; */
    background: rgb(228, 228, 228);
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.3s;
    opacity: 0;
}
#foldbutton::before {
    content: url("../IMG/labeler/chevron-left.svg");
    margin-left: -11px;
    font-weight: bold;
    font-size: 14px;
}
#foldbutton.hide::before {
    content: url("../IMG/labeler/chevron-right.svg");
}
#ruletextdiv:hover+#foldbutton, #foldbutton:hover {
    transition: opacity 0.3s;
    opacity: 1;
}


#taskprogress{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    height: 10px;
    color: blue;
    background:#d7d7d7;
}

#taskprogress::-webkit-progress-bar{
   background:#d7d7d7;
}

#taskprogress::-webkit-progress-value{
    background:blue;
}

#submit{
	position: absolute;
	left: 5%;
	color: darkcyan;
	font-size: 16px;
	font-family: Lucida Bright;
	background-color: white;
	border: 1px solid darkcyan;
	border-radius: 2px;
	padding: 5px 20px;
    margin-left: 1em;
    /* margin-bottom: 2em; */
    width: 5em;
	/* left: 50%;
	transform: translateX(-50%); */
}
#submit:hover{
	background-color: darkcyan;
	color: white;
}