#title{
    text-align: center;
}

body{
    margin: 0;
    background-color: rgb(245,246,248);
}

#taskdiv{
    margin: 0;
    min-height: calc(100vh - 415px);
}
#pagediv{
    position: relative;
    text-align: center;
    /* margin-top: -60px; */
    margin: 2em 0;
}