body{
    background-color: #F5F6F8;
}
h3{
    position: relative;
    left:5%;
    top:10px;
}
#con1{
    background-color: white;
    position: absolute;
    left:5%;
    width: 70%;
    height: 180px;
}

#head_pic{
    width: 100px;
    height: 100px;
    position: absolute;
    left:6%;
    top:40px;
    background-color: deepskyblue;
    margin: 0;
    border-radius: 50%;
}

#nickname{
    position: absolute;
    margin: 0;
    left:23%;
    top:40px;
   	font-family: Comic Sans MS;
    font-size: 25px;
}

#seniority{
    position: absolute;
    margin: 0;
    left:23%;
    color: rgba(58, 58, 58, 0.8);
    bottom:55px;
   	font-family: Comic Sans MS;
    font-size: 18px;
}
#web3{
    position: absolute;
    margin: 0;
    left:50%;
    top:40px;
    height:100px;
    width:100px;
    border-radius: 20%;
    background-color: #5fbaac;


}

#con2{
    background-color: white;
    position: absolute;
    top: 280px;
    left:5%;
    width: 90%;
}

#name_con,#ID_con,#gender_con,#loc_con,#bir_con{
    font-family: "Microsoft JhengHei";
    display:flex;
    width: 18%;
    padding: 20px;
    position:relative;
    left:3%;
}
#con3{
    background-color: white;
    position: absolute;
    top: 800px;
    left:5%;
    width: 90%;
}

