:root{
    --head-height: 4.5em;
    --menu-width:15em;
}

#title{
    position: relative;
    text-align: center;
    color: #3a3a3a;
    font-size: 24px;
    margin-top: 20px;
}

body{
    margin: 0;
    background-color: rgb(245,246,248);
}

#maindiv{
    position: relative;
    width: 90%;
    left: 5%;
    background-color: white;
    margin-top: 30px;
}

#beforediv{
    position: relative;
    width: 90%;
    left: 5%;
    padding-top: 1em;
    text-align: right;
    /* height: fit-content; */
}
#tabletitle{
    position: absolute;
    display: inline-block;
    left: 0;
    color: #3a3a3a;
    font-size: 18px;
    margin: 0;
    /* margin-top: 20px; */
}
#beforediv label{
    font-size: 14px;
    color: #6C757D;
}
#searchinput{
    position: relative;
    float: none;
    left: 0;
    padding: 5px 12px;
    border-radius: 4px;
    color: #6C757D;
    border: 1px solid #ced4da;
}
#searchinput:focus{
    outline: none;
    border: 1px solid #8d969e;
}
#searchinput::before{
    content: 'search';
}

#tablediv{
    position: relative;
    width: 90%;
    left: 5%;
    padding: 1em 0;
    /* overflow: visible; */
}

#datatable{
    width: 100%;
    border-collapse: collapse;
}
#datatable *{
    text-align: left;
    color: #6C757D;
}
#datatable thead{
    border-bottom: 2px solid #dee2e6;
    background-color: #F1F5F7;
    /* background-color: red; */
}
#datatable tr{
    border-top: 1px solid #dee2e6;
}

.operation-button{
    font-size: 14px;
    /* font-family:Arial,sans-serif; */
    text-decoration: none;
    margin-right: 1em;
    border: none;
    border-radius: 3px;
    padding: 3.2px 9.6px;
    color: white !important;
    opacity: 0.8;
}
.delete-button{
    background-color: rgb(188, 35, 35);
}
.delete-button:hover{
    background-color: darkred;
}

.contact-button{
    background-color: #1ABC9C;
}
.contact-button:hover{
    background-color: darkcyan;
}

.export-button{
    background-color: #1a7ebc;
}
.export-button:hover{
    background-color: #0f4e7e;
}

.continue-button{
    background-color: #1ABC9C;
}
.continue-button:hover{
    background-color: darkcyan;
}

#pagediv{
    position: relative;
    text-align: center;
    /* margin-top: -60px; */
    margin: 2em 0;
}
