<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <title>Welcome</title>
        <link rel="stylesheet" href="{% static 'CSS/main_menu.css' %}" type="text/css">
        <script>
            var UserName = '{{ UserName }}', APPName = '{{ APPName }}', Params = '{{Params}}';
            var main_menu_url = "{% url 'main_menu:index' %}";
            var user_url = "{% url 'labeler:show_tasks' %}";
            var publish_url = "{% url 'publisher:create_task' %}";
        </script>
        <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'JS/main_menu.js' %}"></script>
    </head>

    <body>
        <div id="head">
            <a id="Title"><p><b>数据标注平台</b></p></a>
            <a id="User"><p id="UserName">UserName</p></a>
        </div>
        <div id="menu">
            <div id="menu_active"><a></a></div>
            <ul>
                <li class="menubt" id="Publish"><a>发布任务</a></li>
                <li class="menubt" id="T_Doing"><a>标注中的任务</a></li>
                <li class="menubt" id="T_Finished"><a>已完成的任务</a></li>
                <li class="menubt" id="Annotation"><a>数据标注</a></li>
                <li class="menubt" id="Account"><a>账户余额</a></li>
            </ul>
        </div>
        <iframe id="SUBHTML" src="" frameborder="0"></iframe>

    </body>
</html>

 