<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <title>Welcome</title>
        <link rel="stylesheet" href="{% static 'CSS/main_menu.css' %}" type="text/css">
        <script>
            var UserName = '{{ UserName }}', APPName = '{{ APPName }}', Params = '{{ Params }}', UserType = '{{ UserType }}',
                main_menu_url = "{% url 'main_menu:index' %}",
                labeler_url = "{% url 'labeler:show_tasks' %}",
                publisher_url = "{% url 'publisher:create_task' %}",
                login_url = "{% url 'login:index' %}",
                Center_url = "{% url 'show_info:Center' %}",
                finished_url = "{% url 'publisher:finish' %}",
                check_url = "{% url 'publisher:check' %}",
                account_url = "{% url 'show_info:account' %}",
                feedback_url = "{% url 'feedback:feedback' %}",
                fhistory_url = "{% url 'feedback:fhistory' %}",
                history_url = "{% url 'history:get_history' %}";
            const HOMEPAGE = 'TaskList';
        </script>
        <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'JS/jquery.slimscroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'JS/main_menu.js' %}"></script>
    </head>

    <body>
        <iframe id="SUBHTML" src="" frameborder="0"></iframe>
        <div id="head">
            <a id="Title"><p><b>数据标注平台</b></p></a>
            <div id="userdiv">
                <a id="User"><p id="UserName">UserName</p></a>
                <div id="usermenu">
                    <ul>
                        <li><a href="javascript:">个人中心</a></li>
                        <li><a href="javascript:manage_acc()">账号管理</a></li>
                        <li><a href="javascript:Logout()">退出登录</a></li>
                    </ul>   
                </div>
            </div>
        </div>
        <div class="left-side-menu" >
            <div class="lsm-expand-btn">
                <div class="lsm-mini-btn">
                    <label>
                        <input type="checkbox" checked="checked">
                        <svg viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="30" />
                            <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                            <path class="line--2" d="M0 50h80" />
                            <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                        </svg>
                    </label>
                </div>
            </div>
            <div class="lsm-container">
                <div class="lsm-scroll" >
                    <div class="lsm-sidebar">
                        <ul>
                            <li class="lsm-sidebar-item">
                                <a id="TaskList" >
                                    <svg class="my-icon before-icon" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                    <span>任务大厅</span>
                                </a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a id='History'>
                                    <svg class="my-icon before-icon" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                                    <span>已领取的任务</span>
                                </a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a id='Center'>
                                    <svg class="my-icon before-icon" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="butt" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                                    <span>个人中心</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
            
        {% comment %} <div id="menu">
            <!-- <div id="menu_active"><a></a></div> -->
            <ul>
                <li class="menubt" id="Homepage">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                    <a>&nbsp;主页</a>
                </li>
                <li class="menubt" id="Publish">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3h18v18H3zM12 8v8m-4-4h8"/></svg>
                    <a>&nbsp;发布任务</a>
                </li>
                <li class="menubt" id="T_Doing">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                    <a>&nbsp;正在进行的订单</a>
                </li>
                <li class="menubt" id="T_Finished">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                    <a>&nbsp;已完成的订单</a>
                </li>
                <li class="menubt" id="Center">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="butt" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                    <a>&nbsp;个人中心</a>
                </li>
            </ul>
        </div> {% endcomment %}

    </body>
</html>

 