<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta charset="utf-8">
    {% load static %}

    <link rel="stylesheet" href="{% static 'CSS/instruction.css' %}" type="text/css">
    <title> 主页 </title>
    <script type="text/javascript" src="{% static "JS/jquery-3.6.0.js" %}"></script>
    <script type="text/javascript" src="{% static "JS/center/echarts.min.js" %}"></script>
    <script type="text/javascript" src="{% static "JS/instruction.js" %}"></script>
    <script src="{%  static "JS/center/circleChart.min.js" %}"></script>



</head>
<body>
<div id="con1">
    <h1>发布者使用说明</h1>
    <h2>更新时间：2022.6.11</h2>
    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="90%" color=darkcyan SIZE=3>

    <h3 id="chart">1. 表格类任务说明</h3>
    <p id="p1"> 表格类任务支持提交 excel 类表格作为标注数据，表格需要有表头作为列名，提交数据示例如下图 </p>
    <div align="center">
        <img id="img1" src = "{%  static "IMG/img1.png" %}" width="600px" height="200px">
    </div>

    <h3 id="text">2. 文本/语音/图片类任务说明</h3>
    <p id="p2"> 该类任务接收rar或zip格式的压缩包，压缩包中应直接存有数据文件，不应含有二级子目录，数据传输示例如下图 </p>
    <div align="center">
        <img id="img2" src = "{%  static "IMG/img2.png" %}" width="405px" height="300px">
    </div>

    <h3 id="choose">3. 选择类型标签任务说明 </h3>
    <p id="p3"> 当您需要的标签能以选择的形式给出时，需要提供excel格式的选择文件，选择文件以问题为列名，以答案为行。示例文件如下图 </p>
    <div align="center">
        <img id="img3" src = "{%  static "IMG/img3.png" %}" width="525px" height="150px">
    </div>
    <h3 id="result">4. 结果说明 </h3>
    <p id="p4"> 对于描述类型标签，标注者将会根据数据提供一段文字类型的描述。 对于文本类数据与图片类数据，提供框选类型的标签。对于图片类数据，系统会返回被框选部分对角线的坐标。对于文本类数据，系统会返回被框选文字。</p>

</div>
</body>
</html>