<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script>
            var label_url = "{% url 'labeler:label_task' %}";
            var RuleText = '{{ RuleText|safe }}',
                DataList = {{ TaskContent|safe }};
        </script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/label_task.css' %}" type="text/css">
        <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'JS/label_task.js' %}"></script>
    </head>

    <body>
        <div id='ruletextdiv'>
            <h3 id='ruletext_h'>标注规则</h3>
            <p id='ruletext'></p>
        </div>
        <button id="foldbutton" onclick='foldbutton_onclick()' show='1'></button>
        <div id='taskdiv'>
            <div id='tasktablediv'></div>
            {% comment %} <progress id='taskprogress' value='30' max='100'></progress> {% endcomment %}
        </div>
    </body>
</html>

 