<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script>
            var labeler_url = "{% url 'labeler:show_tasks' %}"
        </script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/labeler-text-score.css' %}" type="text/css">
        <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'JS/labeler-text-score.js' %}"></script>
    </head>

    <body>
        <h1 id="title">查看任务</h1>
    </body>
</html>

 