<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script>
            var label_url = "{% url 'labeler:label_task' %}",
                try_url = "{% url 'labeler:try_task' %}";
            var RuleText = {{ RuleText|safe }},
                DataType = '{{ DataType|safe }}',
                LabelType = '{{ LabelType|safe }}',
                DataList = {{ TaskContent|safe }},
                ChoicesList = {{ ChoicesText|safe }},
                Finished = '{{ Finished|safe }}';
                {% comment %} console.log(Finished) {% endcomment %}
        </script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/label_task.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'CSS/radiobox.css' %}" type="text/css">
        <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'JS/select.js' %}"></script>
        <script type="text/javascript" src="{% static 'JS/label_task.js' %}"></script>
    </head>

    <body>
        <div id="head">
            <a id="Title"><p><b>数据标注平台</b></p></a>
            <div id="userdiv">
                <a id="User"><p id="UserName">UserName</p></a>
                {% comment %} <div id="usermenu">
                    <ul>
                        <li><a href="javascript:">个人中心</a></li>
                        <li><a href="javascript:">账号管理</a></li>
                        <li><a href="javascript:Logout()">退出登录</a></li>
                    </ul>   
                </div> {% endcomment %}
            </div>
        </div>
        <div id='ruletextdiv'>
            <div id='ruletextbox'>
                <h3 id='ruletext_h'>标注规则</h3>
                <p id='ruletext'></p>
            </div>
        </div>
        <button id="foldbutton" onclick='foldbutton_onclick()' show='1'></button>
        <div id='taskdiv'>
            <h3 id='tasktitle'>数据标注</h3>
            <div id='tasktablediv'></div>
        </div>
        {% comment %} <progress id='taskprogress' value='30' max='100'></progress> {% endcomment %}
    </body>
</html>

 