<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/feedback.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.js' %}"></script>
    <script>
        var name = "{{ UserName|safe }}";
        var email = "{{ Email}}";
        var ID =  "{{ TaskID}}";
        var feedback_url = "{% url 'feedback:feedback' %}";
    </script>
    <script type="text/javascript" src="{% static 'JS/feedback.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p style="position:absolute;margin:0; left:2.5%;top:30px;font-weight: bolder"> Feedback & Push </p>
    <div id="con0">
        <p style="position: absolute;margin: 0;left:2.5%;top:20px;font-size:0.95em;"> 发布者服务 </p>
        <p style="position: absolute;margin: 0;left:2.5%;top:75px;font-size:0.8em;color: #98a6ad"> 如果您在使用中遇到问题，请先阅读中 FAQ 常见问题。大多数问题均可以在此找到答案。 如果您的问题不在此列，请填写以下表单获得我们技术支持。请您详细描述您的问题，最好附上截图 </p>
        <div id="name_con">
            <h4 id="name"> 用户名: </h4>
            <div contenteditable="False" id="name0">Sedols</div>
        </div>
        <div id="email_con">
            <h4 id="email"> Email: </h4>
            <div contenteditable="False" id="email0">Sedols@buaa.edu.cn</div>
        </div>
        <div id="task_con">
            <h4 id="email"> 任务ID: </h4>
            <input id="ID0">
        </div>
        <div id="topic_con">
            <h4 id="email"> 问题概述: </h4>
            <input id="topic0" value="请在此填写您的问题">
        </div>
        <div id="type_con">
            <h4 id="email"> 问题类型: </h4>
            <select id="type0">
              <option value ="订单加急">订单加急</option>
              <option value ="订单申诉">订单申诉</option>
              <option value ="订单修改">订单修改</option>
              <option value ="订单删除">订单删除</option>
            </select>
        </div>

        <div id="pri_con">
            <h4 id="email"> 优先级 </h4>
            <div id="pri0">
                <input type="radio" name="colors" id="high" value="high">高
                <input type="radio" name="colors" id="mid" value="mid">中
                <input type="radio" name="colors" id="low" value="low">低
            </div>
        </div>

        <div id="detail_con">
            <h4 id="email"> 问题详情: </h4>
            <textarea id="detail0" value="请在此描述您的问题(非必填)"></textarea>
        </div>

        <button id="button1" onclick="btsubmit()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="butt" stroke-linejoin="round"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg> 发送</button>

    </div>
</body>

<script>
    document.getElementById("name0").innerHTML = name;
    document.getElementById("email0").innerHTML = email;
    document.getElementById("ID0").innerHTML = ID;
</script>
</html>