<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script>
            var label_url = "{% url 'labeler:label_task' %}",
                history_url = "{% url 'history:get_history' %}",
                download_url = "{% url 'history:download' %}",
                feedback_url = "{% url 'feedback:feedback' %}",
                TaskList = {{ TaskList|safe }},
                UserType = '{{ UserType|safe }}';
        </script>
        {% load static %}
        <link rel="stylesheet" href="{% static '/history/CSS/history.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static '/history/CSS/pagination.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static '/history/CSS/an-skill-bar.css' %}" type="text/css">
        <script type="text/javascript" src="{% static '/history/JS/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript" src="{% static '/history/JS/history0.js' %}"></script>
        <script type="text/javascript" src="{% static '/history/JS/pagination.js' %}"></script>
        <script type="text/javascript" src="{% static '/history/JS/an-skill-bar.js' %}"></script>
    </head>

    <body>
        {% comment %} <div id="head">
            <a id="Title"><p><b>数据标注平台</b></p></a>
            <div id="userdiv">
                <a id="User"><p id="UserName">UserName</p></a>
                <div id="usermenu">
                    <ul>
                        <li><a href="javascript:">个人中心</a></li>
                        <li><a href="javascript:">账号管理</a></li>
                        <li><a href="javascript:Logout()">退出登录</a></li>
                    </ul>   
                </div>
            </div>
        </div> {% endcomment %}
        {% comment %} <h1 id="title">历史记录</h1> {% endcomment %}
        <div id="maindiv">
            <div id="beforediv">
                <p id='tabletitle'>我的订单</p>
                <label>Search:&nbsp;<input id='searchinput' type='search'></input></label>
            </div>
            <div id="tablediv">
                <table id="datatable" cellpadding="13.6" cellspacing="0">
                </table>
            </div>
        </div>
        <div id="pagediv"><div id="pagination" size="0" page="1" on-change="changepage"></div></div>
    </body>
</html>

 