<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script>
            publish_url = "{% url 'publisher:create_task' %}"
        </script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/Publish.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'CSS/kalendae.css' %}" type="text/css">
        <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'JS/Publish.js' %}"></script>
        <script type="text/javascript" src="{% static 'JS/kalendae.standalone.js' %}"></script>
</head>

    <body>
        <div id="main">
            <h1 id="title">发布数据</h1>
            <div class="main_div">
                <p class="subtitle">任务名称</p>
                <div class="submodels">
                    <input type="text" id="taskname" value="数据标注任务" onfocus="this.select()"/>
                </div>
            </div>
            

            <div class="main_div">
                <p class="subtitle">数据类型</p>
                <div class="submodels">
                    <div class="container">
                        <label><input type="radio" name="datatype" value="text" checked="checked"><span>文本</span></label>
                        <label><input type="radio" name="datatype" value="image"><span>图片</span></label>
                        <label><input type="radio" name="datatype" value="audio"><span>语音</span></label>
                        <label><input type="radio" name="datatype" value="video"><span>视频</span></label>
                    </div>
                </div>
            </div>

            <div class="main_div">
                <p class="subtitle">标注类型</p>
                <div class="submodels">
                    <div class="container">
                        <label><input type="radio" name="marktype" value="score" checked="checked"><span>打分</span></label>
                        <label><input type="radio" name="marktype" value="classify"><span>选择</span></label>
                        <label><input type="radio" name="marktype" value="describe"><span>描述</span></label>
                    </div>
                </div>
            </div>

            <div class="main_div">
                <p class="subtitle">检验方式</p>
                <div class="tiptool">
                    <embed src="{% static 'IMG/publisher/help-circle.svg' %}" type="image/svg+xml" class="help-circle"/>
                    <span class="tooltiptext">
                        交叉检验：<br/>
                        多级检验：<br/>
                        抽样检验：<br/>
                    </span>
                </div>
                <div class="submodels">
                    <div class="container">
                        <label><input type="radio" name="checktype" value="cross" checked="checked"><span>交叉检验</span></label>
                        <label><input type="radio" name="checktype" value="multilevel"><span>多级检验</span></label>
                        <label><input type="radio" name="checktype" value="sampling"><span>抽样检验</span></label>
                    </div>
                </div>
            </div>

            <div class="main_div">
                <p class="subtitle">截止日期</p>
                <div class="submodels">
                    <input type="text" class="auto-kal" id="deadline" readonly="readonly" data-kal="
                        direction: 'future',
                        side: 'bottom',
                        dayOutOfMonthClickable: true,
                        useYearNav: false,
                        selected: Kalendae.moment().add({d:7}),
                        closeonclick: true,
                    "/>
                </div>
            </div>

            {% comment %} <div class="main_div">
                <p class="subtitle">单条薪酬</p>
                <div class="submodels">
                    <input type="text" id="payment" value="" onKeyUp="amount(this)" onBlur="overFormat(this)" />
                    <span id="unit">元</span>
                </div>
            </div> {% endcomment %}

            <div class="main_div">
                <p class="subtitle">数据文件</p>
                <div class="submodels">
                    <input type="text" class="filetext" id="datafiletext" placeholder="请选择文件···" readonly="readonly"/>
                    <input type="file" id="datafile">
                </div>
            </div>

            <div class="main_div">
                <p class="subtitle">标注规则</p>
                <div class="submodels">
                    <textarea id="markrules" rows="10"></textarea><br/>
                    {% comment %} 添加附件：<input type="text" class="filetext" id="markfiletext" placeholder="请选择文件···" readonly="readonly"/>
                    <input type="file" id="markfile"> {% endcomment %}
                </div>
            </div>

            <br/><br/><br/>
            <button id="submit" onclick="btsubmit()">提交</button>
        </div>
    </body>
</html>

 